.tab-area {
    width:30%;
    display: flex;
    cursor: pointer;
}

hr{
    margin-top:-2rem;
    margin-bottom: 1rem;
}

.tab {
    width: calc(100%/2);
    padding: 0.5rem;
    text-align: center;
}

.tab.active {
    color:rgba(255, 0, 0, 0.779);
}

.panel {
    display: none;
    text-align: center;
}

.panel.active {
    display: block;
}


.gallery {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: 0px auto;
    flex-wrap: wrap;
}

.item_img {
    width: 12rem;
    height: 12rem;
    margin-left:1rem;
}


@media screen and (max-width: 768px) {


}